<!DOCTYPE html>

{% load blog_tags %}
{% load compress %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endcompress %}
</head>
<body>

    {% if messages %}
      <div id="popup-messages">
        {% for message in messages %}
          <div class="popup {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% compress js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
</body>
</html>
