<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p><strong>publish date:</strong> {{ post.published_date }}</p>
    <p><strong>views:</strong> {{ post.counted_view }}</p>
    <p>{{ post.content }}</p>

    <a href="{% url 'post_list' %}">back to list</a>

    <hr>

    <div class="navigation">
      {% if prev_post %}
        <a href="{% url 'post_detail' prev_post.pk %}">← {{ prev_post.title }}</a>
      {% endif %}

      {% if next_post %}
        <a href="{% url 'post_detail' next_post.pk %}">{{ next_post.title }} →</a>
      {% endif %}
    </div>
</body>
</html>
