{% extends "base.html" %}
{% load blog_tags %}

{% block title %}Post List{% endblock %}

{% block content %}
    <h1>posts list</h1>
    {% for post in posts %}
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.published_date }}</p>
        <p>{{ post.content|truncatewords:20 }}</p>
        <hr>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}

    <hr>

    <div class="latest-posts">
        <h2>Latest Posts</h2>
        {% latest_posts 8 %}
    </div>
{% endblock %}
